.btn {
  text-decoration: none;
  padding: 0.65rem 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.75rem;
  min-width: 8rem;
}

.btn-primary {
  background-color: var(--button-color);
  color: var(--primary-color-dark);
}

.btn-primary:hover {
  background-color: var(--button-color-hover);
}

.btn-primary-disabled {
  background-color: var(--button-color-light);
  color: var(--secondary-color-dark);
}

.btn-secondary {
  background-color: var(--button-color-darker);
  color: var(--text-color);
}

.btn-secondary:hover {
  background-color: var(--button-color-darker-hover);
}

.btn-secondary-disabled {
  background-color: var(--button-color-dark);
  color: var(--text-color);
}

.btn-link {
  text-decoration: underline;
  color: var(--primary-color);
}

.btn-link:hover {
  text-decoration: none;
  padding: 0.75rem 2.75rem;
  border: 0.25rem solid #c7daff;
}

.btn-icon {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.btn-icon-secondary {
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.btn-icon-sm {
  font-size: 1.25rem;
}

.btn-floating-action {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
  background-color: var(--button-color);
  color: var(--text-color-dark);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 1rem;
  }
}
