@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "./image.css";
@import "./avatar.css";
/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  color: black;
}

:root {
  --primary-color: #2405f2;
  --primary-color-light: #1c1e53;
  --primary-color-dark: #282938;

  --secondary-color: #f4f6fc;
  --secondary-color-dark: #eef4fa;

  --text-color: white;
  --text-color-dark: #282938;

  --button-color: #fcd980;
  --button-color-light: #fde4a6;
}
