@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

@import "./image.css";
@import "./avatar.css";
@import "./alert.css";
@import "./badge.css";
@import "./icon.css";
@import "./button.css";
@import "./cards.css";
@import "./input.css";
@import "./navbar.css";
@import "./footer.css";
@import "./grid.css";

@font-face {
  font-family: "logoFont";
  src: url("../assets/fonts/beauty-mountains-font/BeautyMountainsPersonalUse-od7z.ttf");
}

:root {
  --primary-color: #1c1e53;
  --primary-color-light: #1c1e53;
  --primary-color-dark: #282938;

  --secondary-color: #f4f6fc;
  --secondary-color-dark: #eef4fa;

  --tertiary-color: #fcd980;

  --text-color: white;
  --text-color-dark: #90919a;

  --button-color: #fcd980;
  --button-color-light: #f6eac9;
  --button-color-dark: #eaeaf0;
  --button-color-darker: #282938;
  --button-color-hover: #f8e1a0;
  --button-color-darker-hover: #444657;
}
