@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

@import "./image.css";
@import "./avatar.css";
@import "./alert.css";
@import "./badge.css";
@import "./icon.css";
@import "./button.css";

:root {
  --primary-color: #2405f2;
  --primary-color-light: #1c1e53;
  --primary-color-dark: #282938;

  --secondary-color: #f4f6fc;
  --secondary-color-dark: #eef4fa;

  --text-color: white;
  --text-color-dark: #282938;

  --button-color: #fcd980;
  --button-color-light: #fde4a6;
  --button-color-dark: #535460;
  --button-color-darker: #282938;
}
