.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.mt-2 {
  margin-top: 2rem;
}

.mg-r-1 {
  margin-right: 1rem;
}

.mg-2 {
  margin: 2rem;
}

.p-2 {
  padding: 2rem;
}

.w-100 {
  width: 100%;
}
